@import "colors";

.contact{
    width: 100%;
    height: 100vh;
    background-color: $second;
    display: flex;
    justify-content: center;
    align-items: center;

    >main{
        background-color: $first;
        width: 70%;
        height: 40rem;
        padding: 3rem;
        border-radius: 0 200px 0 200px;

        >form{
            margin: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            >div{
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 60%;
                margin: 0.5rem;

                >label{
                    font: 400 1.2rem $text1;
                    width: 20%;
                    margin: 0 1rem;
                }

                >input{
                    align-self: stretch;
                    width: 80%;
                    padding: 1rem;
                    border-radius: 5px;
                    border: 1.8px solid;
                    outline: none;
                }
            }

            >button{
                width: 15%;
                margin: 3rem 0;
                padding: 0.7rem;
                color: $first;
                background-color: $third;
                border: none;
                border-radius: 10px;
                font: 500 1rem text1;

                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }


}